<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Reviews</title>
</head>
<body>
	<h1>A List of Reviews</h1>
	<!--  
	<div th:each="reviews: ${review}">
		<li>
		<a th:href="@{/review(id=${review.getId})}" th:text="${review.getTitle}"></a>
		</li>
	</div>
	
	
	<li th:each="reviews : ${review}" th:text="${review.getTitle}"></li>
	-->
		<div th:each = "review: ${reviews}">
		<p th:text = "${review.title}"></p>
		<p th:text = "${review.content}"></p>
		<img th:src = "${review.imgUrl}"></p>
		<a href="http://localhost:8080/show-reviews">Back to home</a>
	</div>
	
</body>

</html>